<div class='default-theme theme-wrapper'>

  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="push">
      <div class="brand"><!-- Insert Logo Here --><span>Tyrone Shaffer</span></div>
      <mat-nav-list class="default-theme">
        <a mat-list-item *ngFor="let item of navigation" (click)="sidenav.close()" href="[item.link]" routerLinkActive="active"> {{item.label}} </a>
        <a mat-list-item href="https://www.linkedin.com/in/tyrone-shaffer-3ab58510a/" target="_blank">
          LinkedIn
        </a>
        <a mat-list-item href="https://github.com/TShaffer133/" target="_blank">
          Github
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <abe-header (openSideNav)="sidenav.open()"></abe-header>

      <!-- Main content section, belongs in app root? -->
      <abe-about></abe-about>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
